@media screen and (min-width:720px) and (max-width:1000px){
	#wrap { max-width:720px; margin:0 auto; }
	#header { max-width:720px; left:50%; transform:translateX(-50%); }
	#container.page--lemong:before { max-width:720px; left:50%; transform:translateX(-50%); }
	.boxDetailTop { max-width:720px; left:50%; transform:translateX(-50%); }
	.popBasic { max-width:720px; left:50%; transform:translateX(-50%); }
}

@media screen and (min-width:1001px){
	.pc { display:block !important; }
	.mo { display:none !important; }

  .btn.size-xl { font-size:18px; }

	#wrap { max-width:none; overflow:hidden; }
  #container { max-width:1000px; margin:0 auto; }
  
  #header { max-width:none; height:80px; left:0; padding:0 36px; transform:none; border-bottom:1px solid rgba(255,255,255,.4); }
  #header.only-pc { display:flex; }
  #header h1.logo_lemong { width:127px; height:80px; background-image:url('../images/common/logo_lemong_pc.png'); }
  #header.is--white h1.logo_lemong,
  #header.fixed h1.logo_lemong { background-image:url('../images/common/logo_lemong_pc_black.png'); }

  #container.page--lemong:before { background-image:url('../images/main/bgMainTop_lemong_pc.png'); }
  
  #container.page--lemong .mainSection.lemong { width:1250px; margin-left:-125px; }
  #container.page--lemong .mainSection.lemong.type--text { width:1000px; margin:0; padding-top:108px; }
  #container.page--lemong .mainSection.reveal.type--text { width:1000px; margin:0; }
  #container.page--lemong .mainSection+.mainSection.boxPartners { padding-top:124px; }
  #container.page--lemong .mainSection+.mainSection.lemongStory { padding-top:130px; }
  #container.page--lemong .mainSection+.mainSection.lemongInfo { padding-top:100px; }
  #container.page--lemong .mainSection+.mainSection.boxCounter { padding-top:10px; }
  #container.page--lemong .mainSection+.mainSection.boxWhiteMinting { padding-top:52px; }
  #container.page--lemong .mainSection+.mainSection.boxMainNotice { padding-top:63px; }
  #container.page--lemong .mainSection+.mainSection.boxMinting { padding-top:100px; }
  #container.page--lemong .mainSection+.mainSection.txt--public { padding-top:80px; }
  #container.page--lemong .mainSection.reveal.type--text { padding-left:0; padding-right:0; }
  
  

  #container.page--lemong .mainSection+.mainSection.boxMainNotice:last-child { padding-bottom:146px; }
  #container.page--lemong .mainSection+.mainSection.boxCounter:last-child { padding-top:70px; padding-bottom:100px; }

  #container.page--lemong .mainSection.type--lemong+.mainSection.boxCounter:last-child { padding-top:110px; }
  
  .mainSection+.mainSection.txt--community.typeA { padding-top:100px !important; padding-bottom:20px; }
  .mainSection.type--text+.mainSection.txt--community { padding-top:98px !important; }

  .boxLemongMov { height:580px; margin:44px 0 0; }
  .boxLemongMov video { height:100%; }

  .boxConnect .btnArea { display:flex; padding:0; }
  .boxConnect .btnArea a+a { margin-top:0; margin-left:8px; }

  .lemongStory .titleArea { padding:0; margin-bottom:35px; }
  .lemongStory .titleArea .title { font-size:36px; }
  .lemongStory .titleArea .opt { font-size:36px; }

  .boxLemongStory .thumb { padding:0; margin-bottom:60px; }
  .boxLemongStory .thumb .left a,
  .boxLemongStory .thumb .right a { width:162px; }
  .boxLemongStory .cont { padding:45px 0 0; display:flex; }
  .boxLemongStory .cont .title { width:205px; margin-bottom:0; font-size:28px; }
  .boxLemongStory .cont p { flex:1; padding:6px 0; font-size:20px; line-height:29px; }
  .boxLemongStory .swiper-container { padding:0 116px; margin:0 -116px; }
  .boxLemongStory .swiper-pagination { display:none; }

  .boxLoadMap.is--full { margin:0 -25px; }

  .mainSection .titleArea { margin-bottom:4px; }
  .boxPartners .titleArea .title { width:502px; height:65px; background-image:url('../images/main/titPartners_pc.png'); }
  .boxPartners .contArea { margin:0 -25px; }

  .lemongInfo .titleArea { margin-bottom:50px; }
  .lemongInfo .titleArea .title { font-size:36px; font-weight:600; }
  .lemongInfo .contArea { width:732px; padding-left:230px; position:relative; }
  .lemongInfo .contArea .item.item1 { width:220px; height:208px; display:flex; align-items:center; justify-content:center; position:absolute; left:0; top:0; font-size:24px; }
  .lemongInfo .contArea .item.item2 { height:66px; margin-top:5px; padding:0 30px; font-size:20px; }
  .lemongInfo .contArea .item p { font-size:20px; }
  .lemongInfo .contArea .item span.count { min-width:90px; }
  .lemongInfo .contArea .imp { margin-left:-230px; font-size:18px; }

  .lemongInfo .bg_img { margin-top:-185px }

  .txt--community img { width:456px; margin:0 auto; }
  .txt--community.typeA img { width:486px; }

  .txt--public img { width:374px; margin:0 auto; }

  .boxCounter { margin-bottom:0; }
  .boxCounter .time { font-size:26px; }
  .boxCounter .block { width:770px; margin:0 auto; justify-content:unset; }
  .boxCounter .block>div,
  .boxCounter .block>div:last-child { flex:1; text-align:center; }
  .boxCounter .block .title { font-size:16px; }
  .boxCounter .block .num { font-size:28px; }

  .boxCounter.is--end .block { width:auto; max-width:550px; justify-content:space-between; }
  .boxCounter.is--end .block:after { content:''; width:1px; height:52px; position:absolute; left:50%; top:50%; transform:translateY(-50%); background:rgba(112,112,112,0.7); }
  .boxCounter.is--end .block>div { text-align:left; }
  .boxCounter.is--end .block>div:last-child { text-align:right; }

  .boxList .list li .listCount dt { font-size:18px; }
  .boxList .list li .listCount dd { font-size:18px; }

  .boxList.type--lemong .list li { position:relative; background:#000; }
  .boxList.type--lemong .list li .thumb { width:550px; height:100%; position:absolute; left:0; top:0; }
  .boxList.type--lemong .list li .cont { margin-left:550px; padding:64px 60px;  }
  .boxList.type--lemong .list li .count { margin-bottom:12px; font-size:18px; }
  .boxList.type--lemong .list li .title { font-size:28px; }
  .boxList.type--lemong .list li .subject { margin-top:10px; font-size:16px; }
  .boxList.type--lemong .list li .priceArea { margin-top:156px; }
  .boxList.type--lemong .list li .priceArea .num input { border-color:#e8e8e8; }
  .boxList.type--lemong .list li .priceArea .num a { border-color:#e8e8e8; }
  .boxList.type--lemong .list li .priceArea span.price { font-size:28px; }

  .boxList.type--lemong.is--end .list li .cont_txt { width:550px; height:100%; position:absolute; left:0; top:0; margin:0; padding:0 0 0 60px; display:flex; justify-content:center; flex-direction:column; text-align:left; }
  .boxList.type--lemong.is--end .list li .cont_txt .txt1 { font-size:28px; }
  .boxList.type--lemong.is--end .list li .cont { padding:40px 60px 32px; }

  .boxWhiteMinting .title { width:576px; height:46px; background-image:url('../images/main/txtWhiteMinting_pc.png'); }
  .boxWhiteMinting .time { margin-top:10px; font-size:26px; }
  .boxWhiteMinting .listCount { margin-top:12px; }
  .boxWhiteMinting .listCount dt { font-size:18px; }
  .boxWhiteMinting .listCount dd { font-size:18px; }
  .boxWhiteMinting .btnArea { width:296px; margin:20px auto 0; }

  .boxMinting .title { margin-bottom:40px; font-size:36px; }
  .boxMinting .itemGroup { width:750px; margin:0 auto 84px; }
  .boxMinting .itemGroup .item+.item:before { width:2px; height:110px; left:-1px; opacity:.5; }
  .boxMinting .itemGroup .item .top { font-size:24px; }
  .boxMinting .itemGroup .item .num { margin-top:10px; font-size:36px; }
  
  .boxMainNotice { padding:0; }
  .boxMainNotice .cont { padding:55px 110px 65px; }
  .boxMainNotice h4 { margin-bottom:50px; font-size:20px; }  
  .boxMainNotice .rowGroup { display:flex; }
  .boxMainNotice .rowGroup .row { flex:1; }
  .boxMainNotice .row+.row.is--line { margin-top:0; padding-top:0; padding-left:20px; }
  .boxMainNotice .row+.row.is--line:before { display:none; }
  .boxMainNotice p { font-size:14px; }
  .boxMainNotice p.imp { margin-top:22px; font-size:14px; }
  .boxMainNotice .process { margin-top:22px; font-size:14px; }
  .boxMainNotice .rowGroup { margin-top:25px; }
  .boxMainNotice dl { margin-top:0; }
  .boxMainNotice dl dt { font-size:14px; }
  .boxMainNotice dl dd { font-size:14px; }
  .boxMainNotice .inTable th { width:72px; }
  .boxMainNotice span.is--underline { margin-bottom:32px; display:block; }

  #footer { padding:54px 20px; font-size:14px; }
  #footer .agreement { max-width:1000px; margin:0 auto 50px; }
  #footer .agreement a:first-child { padding-left:0; }

  #footer .sns { position:absolute; right:50%; top:50px; margin-right:-500px; }
  #footer .sns a { opacity:.4; }

  #footer .copyright { max-width:1000px; margin:0 auto; display:flex; }
  #footer .copyright .row:first-child { padding-right:100px; }
  #footer .copyright .row+.row { padding-top:0; margin-top:0; border-top:0; }
  #footer .copyright .row .title { font-size:14px; }
  #footer .copyright .row p { font-size:14px; }
  #footer .copyright .linkArea a { font-size:14px; }

  .btnJoin { min-width:226px; margin:0 auto; }  
  
  .checkGroup .check input[type="checkbox"]+label { margin-right:50px; }

  .boxBasic { font-size:16px; }

  .boxReveal .check { width:688px; }
  .boxReveal .check ul { grid-template-columns: repeat(6, 1fr); }
  
  .page--staking #container { max-width:1280px; }

  .boxChannel h3 { margin-bottom:110px; font-size:42px; }
  .boxChannel .btn { width:296px; height:63px; font-size:18px; }
  .boxChannel .address { margin-top:36px; font-size:20px; }
  .boxChannel .btnDiscode { width:296px; height:68px; margin:110px auto 0; font-size:20px; line-height:66px; }

  .popBasic.pc--full { max-width:100%; }
  .popBasic.pc--full .inner { max-width:600px; margin:0 auto; }

  .popBasic .txtArea h5 { font-size:24px; }
  .popBasic .txtArea p { font-size:14px; }
  .popBasic .row h6 { font-weight:700; }

  .popBasic .radioGroup .icon--klay { justify-content:center; font-size:13px; color:rgba(0,0,0,.5); }

  .popBasic.btn--fixed .btnArea { width:226px; margin:0 auto; }

  .popBasic.type--lemon .cont.is--ranking { width:600px; padding:96px 30px; }
  .popBasic.type--lemon .cont.is--ranking p { font-size:18px; }
  .popBasic.type--lemon .cont.is--ranking p:before { width:40px; height:40px; margin-bottom:15px; }

  .popBasic.type--finish { max-width:100%; }
  .popBasic.type--finish .boxFinish { min-width:600px; }
  .popBasic.type--finish .boxFinish.typeA { padding-top:65px; padding-bottom:68px; }
  .popBasic.type--finish .boxFinish.typeB { padding-top:104px; padding-bottom:104px; }
  .popBasic.type--finish .boxFinish .cont { font-size:16px; }
  .popBasic.type--finish .boxFinish .cont .f-small { font-size:14px; margin-top:10px; display:block; }

  .popBasic.type--finish .boxFinish.typeC .cont { font-size:20px; line-height:35px; }

  .popBasic.type--ranking .boxRanking { width:600px; }
  
}