@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 300;
	src: local('SpoqaHanSansNeo-Light'),
	url('../font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
	url('../font/SpoqaHanSansNeo-Light.woff') format('woff'),
	url('../font/SpoqaHanSansNeo-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 400;
	src: local('SpoqaHanSansNeo-Regular'),
	url('../font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
	url('../font/SpoqaHanSansNeo-Regular.woff') format('woff'),
	url('../font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 500;
	src: local('SpoqaHanSansNeo-Medium'),
	url('../font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
	url('../font/SpoqaHanSansNeo-Medium.woff') format('woff'),
	url('../font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 700;
	src: local('SpoqaHanSansNeo-Bold'),
	url('../font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
	url('../font/SpoqaHanSansNeo-Bold.woff') format('woff'),
	url('../font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

/* common */
* {margin:0; padding:0; box-sizing: border-box; list-style:none; text-decoration:none;
		outline: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: transparent; font-family:'Poppins','SpoqaHanSansNeo', sans-serif; }
html { height:100%; }
html, body { width: 100%; min-height:100%; position: relative; background:#f4f6f9; font-size:12px; font-family:'Poppins', 'SpoqaHanSansNeo',sans-serif; line-height:1.4; font-weight:400; color:#000; }
ul>li>a { text-decoration:none; }
a {color: inherit;}
table { border-collapse: collapse; }
.blind {position:absolute !important;visibility:hidden !important;top:0 !important;left:0 !important;height:0 !important;width:0 !important;font-size:0 !important;line-height:0 !important;overflow:hidden !important;}
fieldset {border:none;}
legend {display:none;}
caption {display:none;}
i {display: inline-block;}
em {font-style: normal; letter-spacing: -1px;}
input {box-sizing: border-box; border: 1px solid #c0c9d4; background-color: #fff; border-radius: 0; font-family:inherit; vertical-align:middle; outline:none; }
input[type=text]::-ms-clear {display:none;}
button {box-sizing: border-box; border: 0; background-color: transparent; cursor: pointer; color:inherit; }
textarea {box-sizing: border-box; resize: none;}
select {-webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; box-sizing: border-box; cursor: pointer; font-family: inherit; }
select::-ms-expand {display: none;}
img { width:100%; vertical-align:middle; }
hr { border:0; }

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }

a.link { text-decoration:underline; }
input[type="text"],
input[type="number"],
input[type="password"] { width:100%; height:46px; padding:0 20px; border:1px solid #c0c9d4; border-radius:4px; color:#000; font-size:13px; }
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled { background:#f4f4f4; }
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder { color:rgba(0,0,0,0.5); }

input[type="checkbox"] { width:25px; height:25px; border:1px solid #c0c9d4; }
input[type="checkbox"]+label { margin-left:6px; font-size:14px; line-height:25px; }

/* Header */
#header { width:100%; height:68px; padding:22px 16px; position:fixed; left:0; top:0; background:rgba(255,255,255,0); overflow:hidden; z-index:20; transition:all .3s; }
#header.fixed { background:rgba(255,255,255,1); box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06); }
#header h1 { width:104px; height:23px; float:left; background:url('../images/common/logo.png') center center no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }
#header .btnMenu { width:18px; height:26px; float:right; background:url('../images/common/btnMenu.png') center center no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }

#container { padding-top:68px; }
#container.main { padding-bottom:68px; }

/* Main Top */
.mainTop { margin-bottom:33px; }
.mainTop .swiper-slide { padding:0 16px; }
.mainTop .inBox { background:#fff; border-radius:10px; box-shadow: 0 3px 10px 0 rgba(210, 215, 224, 0.84); }
.mainTop .topArea { position:relative; border-radius:10px; overflow:hidden; }
.mainTop .topArea .day { height:29px; padding:0 12px; position:absolute; right:12px; top:12px; background:rgba(0,0,0,.9); border-radius:8px; font-size:13px; line-height:29px; letter-spacing:-.33px; color:#fff; }
.mainTop .topArea:after { content:''; width:100%; height:112px; position:absolute; left:0; bottom:0; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0.68)); z-index:5; }
.mainTop .info { display:flex; align-items:center; position:absolute; left:12px; bottom:11px; z-index:10; }
.mainTop .info .thumb { width:25px; height:25px; margin-right:6px; border-radius:50%; overflow:hidden; }
.mainTop .info .name .ko { font-size:13px; font-weight:700; color:#fff; }
.mainTop .info .name .en { font-size:11px; color:rgba(255,255,255,.5) }
.mainTop .contArea { padding:16px; }
.mainTop .contArea .count { margin-bottom:25px; font-size:13px; color:rgba(0,0,0,.5); }
.mainTop .contArea .count span { font-weight:700; color:#5901e6; }
.mainTop .contArea .title { font-size:21px; font-weight:700; color:#000; line-height:1.2; }
.mainTop .contArea .subject { font-size:13px; line-height:1.2; }
.mainTop .contArea .price { margin-top:16px; color:rgba(0,0,0,.3); font-size:11px; }
.mainTop .contArea .price span { display:block; margin-top:3px; font-size:17px; color:#000; font-weight:600; }
.mainTop .contArea .btnBuy { width:100%; height:54px; margin-top:20px; border-radius:9px; background:#5901e6; font-size:15px; font-weight:700; color:#fff; }
.mainTop .contArea .btnBuy:before { content:''; width:21px; height:14px; display:inline-block; margin-right:8px; background:url('../images/common/iconBuy.png') center center no-repeat; background-size:100% auto; vertical-align:middle; }

.swiper-container { padding-bottom:25px; }
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction { height:6px; bottom:0; }
.swiper-pagination-bullet { width:6px; height:6px; background:#cccccc; opacity:1; border-radius:6px; vertical-align:top; }
.swiper-pagination-bullet-active { width:13px; background:#000000; }
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin:0 2px; }


/* Section */
.section { position:relative; }
.section.section--detail { background:#fff; z-index:10; }
.section.section--detail:before { content:''; width:100%; height:25px; position:absolute; left:0; top:-25px; background:#fff; border-top-left-radius: 20px; border-top-right-radius:20px; }
.section.section--detail .inBox { padding:40px 16px 80px; background:#f4f6f9; }


/* List */
.boxList { }
.boxList .category { margin-bottom:23px; }
.boxList .category .titCate { padding:0 16px; margin-bottom:6px; font-size:17px; font-weight:700; }
.boxList .category .listCate ul { padding:10px 16px; display:flex; overflow:auto; flex-wrap: nowrap; }
.boxList .category .listCate li { min-width:80px; height:35px; padding:0 18px; border:1px solid #eaeef2; background:#fff; border-radius:35px; line-height:33px; overflow:hidden; text-align:center; }
.boxList .category .listCate li+li { margin-left:5px; }
.boxList .category .listCate li.active { background:#000000; color:#fff; }
.boxList .category .listCate li a { display:block; }
.boxList .list { padding:0 16px; }
.boxList .list li { background:#fff; border-radius:10px; overflow:hidden; }
.boxList .list li+li { margin-top:16px; }
.boxList .list li .thumb { position:relative; border-radius:10px; overflow:hidden; }
.boxList .list li .thumb .timer { height:25px; position:absolute; right:10px; top:10px; padding:0 11px; background:rgba(0,0,0,.76); border-radius:8px; text-align:center; line-height:25px; font-size:10px; font-weight:500; color:#fff; }
.boxList .list li .cont { padding:16px; }
.boxList .list li .title { font-size:15px; font-weight:700; color:#131523; }
.boxList .list li .bid { margin-top:5px; font-size:13px; color:#000; }
.boxList .list li .bid span { color:#5901e6; }
.boxList .list li .btn { margin-top:24px; }
.boxList .list li .btn button { width:100%; height:44px; border-radius:9px; background:#000;font-size:14px; color:#fff; font-weight:700; }
.boxList .list li .btn button.is--end { background:#bebebe; }

.boxList.type--user { }
.boxList.type--user .list { display:flex; flex-wrap:wrap; padding:0; }
.boxList.type--user .list li { width:calc(50% - 5px); }
.boxList.type--user .list li+li { margin-top:0; }
.boxList.type--user .list li:nth-child(2n+2){ margin-left:10px; }
.boxList.type--user .list li:nth-child(1n+3){ margin-top:10px; }
.boxList.type--user .list li .thumb { height:45vw; display:flex; align-items:center; justify-content:center; }
.boxList.type--user .list li .thumb.resize_w img { max-width:none; height:100%; }
.boxList.type--user .list li .title { margin-top:8px; padding:0 10px; }
.boxList.type--user .list li .user { margin-top:8px; padding:0 10px; display:flex; align-items:center; }
.boxList.type--user .list li .user .userThumb { width:24px; height:24px; border-radius:50%; overflow:hidden; }
.boxList.type--user .list li .user .account { margin-left:3px; color:#adadad; letter-spacing:-.044em; font-size:11px; }
.boxList.type--user .list li .btn { margin-top:12px; padding:6px; }
.boxList.type--user .list li .btn a { height:34px; display:block; border:1px solid #62668c; border-radius:6px; line-height:32px; text-align:center; font-size:11px; color:#62668c; letter-spacing:-0.044em; font-weight:700; text-indent:0; }



/* Tab */
.tabCont { display:none; }
.tabCont.active { display:block; }

.boxInfoTab .tabArea { display:flex; }
.boxInfoTab .tabArea a { height:50px; display:flex; align-items:center; justify-content:center; flex:1; border-top-left-radius:12px; border-top-right-radius:12px; font-size:15px; color:#8089a1; font-weight:700; letter-spacing:-.038em; }
.boxInfoTab .tabArea a.active { background:#fff; color:#021343; }
.boxInfoTab .tabCont { background:#fff; }
.boxInfoTab .tabCont .row+.row { border-top:1px solid rgba(192,201,212,.3); }


/* Form */
.formJoin .row { position:relative; display:flex; }
.formJoin .row+.row { margin-top:6px; }
.formJoin .row+.row button { min-width:100px; height:46px; margin-left:4px; padding:0 12px; background:#000; border-radius:4px; color:#fff; font-size:13px; }
.formJoin .row+.row button.c1 { background:#728495; font-weight:400; }
.formJoin .row .btn { margin-top:40px; }
.formJoin .row .btnSign { width:154px; height:37px; position:absolute; right:3px; top:4px; background:url('../images/common/btnSign_google.png') center center no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }

.btnJoin { margin-top:35px; }
.btnJoin button { width:100%; height:62px; background:#bebebe; color:#fff; font-size:14px; font-weight:700; }
.btnJoin button.active { background:#000; }


/* Detail */
.boxDetailTop { width:100%; position:fixed; top:68px; left:0; padding:16px 16px 46px; z-index:1; }
.boxDetailTop .cont { position:relative; border-radius:15px; overflow:hidden; z-index:1; }
.boxDetailTop .btn { position:absolute; right:16px; bottom:37px; z-index:5; }
.boxDetailTop .btn a { width:48px; height:48px; display:block; border-radius:50%; background-color:#fff; background-size:100% auto; background-repeat:no-repeat; background-position:center center; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); font-size:0; text-indent:-99999px; }
.boxDetailTop .btn a.btnZoom { background-image:url('../images/common/iconZoom.png'); }

.boxDetail .btn { padding:12px 16px 21px; display:flex; align-items:center; justify-content:center; }
.boxDetail .btn a { height:64px; display:flex; flex:1; align-items:center; justify-content:center; background-color:#5901e6; border-radius:6px; color:#fff; font-size:18px; font-weight:700; }
.boxDetail .btn a.airdrop { background-color:#fde500; color:#000; font-size:15px; }
.boxDetail .btn a.airdrop:before { content:''; width:43px; height:22px; margin-right:6px; background:url('../images/common/iconKlip.png') center center no-repeat; background-size:100% auto; }

.boxDescript { padding:0 16px; margin-bottom:25px; }
.boxDescript .title { margin-bottom:8px; font-size:21px; color:#000; font-weight:700; }
.boxDescript .cont { font-size:14px; color:#9ea0b4; letter-spacing:-0.035em; }

.btnShare { display:flex; align-items:center; justify-content:center; }
.btnShare>a { width:48px; height:48px; margin:0 5px; display:inline-block; border:1px solid #e8e8e8; border-radius:50%; background-repeat:no-repeat; background-position:center center; font-size:0; text-indent:-99999px; }
.btnShare>a.share { background-image:url('../images/common/iconShareAuction.png'); background-size:19px auto; }
.btnShare>a.share.on,
.btnShare>a.share:hover { background-image:url('../images/common/iconShareAuction_on.png') }

.boxBidArea { margin-top:18px; }
.boxBidArea .row { display:flex; padding:18px 16px; align-items:center; justify-content:space-between; }
.boxBidArea .row+.row { border-top:1px solid rgba(192,201,212,.3); }
.boxBidArea .title { font-size:15px; color:#000; font-weight:600; }
.boxBidArea .cont { display:flex; justify-content:flex-end; font-size:25px; font-weight:600; }
.boxBidArea .cont .day { margin-right:20px; font-size:15px; }
.boxBidArea .cont .day span { font-size:25px; }
.boxBidArea .value { font-size:15px; font-weight:700; }
.boxBidArea .value span { color:#5901e6; }
.boxBidArea .value+.price { margin-top:6px; }
.boxBidArea .price { text-align:right; font-size:21px; font-weight:600; }

.boxBidArea .row.with--price { align-items:inherit; }

.boxCreator { padding:30px 16px 35px; }
.boxCreator .title { margin-bottom:15px; font-size:15px; color:#000; font-weight:700; }
.boxCreator .user { margin-bottom:18px; display:flex; justify-content:center; }
.boxCreator .thumb { width:40px; height:40px; margin-right:16px; display:flex; justify-content:center; align-items:center; border-radius:50%; overflow:hidden; }
.boxCreator .thumb img { width:100%; }
.boxCreator .name { display:flex; flex:1; flex-direction:column; justify-content:center; font-size:15px; color:#000; font-weight:500; }
.boxCreator .name span { font-size:13px; color:#adadad; font-weight:400; }
.boxCreator .name span.icon { padding-left:18px; background-position:left center; background-repeat:no-repeat; }
.boxCreator .name span.icon.icon--insta { background-image:url('../images/content/iconInsta_gray.png'); background-size:12px auto; }
.boxCreator .sns { display:flex; align-items:center; }
.boxCreator .sns a { width:30px; height:40px; display:block; background-repeat:no-repeat; background-position:center center; font-size:0; text-indent:-99999px; }
.boxCreator .sns a.twitter { background-image:url('../images/content/iconSocial_twitter.png'); background-size:22px auto; }
.boxCreator .sns a.insta { margin:0 -7px 0 8px; background-image:url('../images/content/iconSocial_insta.png'); background-size:15px auto; }
.boxCreator .txt { font-size:13px; color:#adadad; line-height:20px; }

.boxQuick { padding:35px 16px 40px; }
.boxQuick .title { margin-bottom:16px; font-size:15px; font-weight:700; color:#000; }
.boxQuick .list li { background:#fff; border-radius:8px; box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08); }
.boxQuick .list li+li { margin-top:8px; }
.boxQuick .list li a { height:56px; display:block; padding-left:60px; position:relative; background-position:32px center; background-repeat:no-repeat; line-height:56px; font-size:14px; color:#9ea0b4; }
.boxQuick .list li a.contract { background-image:url('../images/content/iconQuick_contract.png'); background-size:12px auto; }
.boxQuick .list li a.token { background-image:url('../images/content/iconQuick_token.png'); background-size:13px auto; }
.boxQuick .list li a.metadata { background-image:url('../images/content/iconQuick_metadata.png'); background-size:12px auto; }
.boxQuick .list li a:after { content:''; width:15px; height:15px; position:absolute; right:32px; top:50%; background:url('../images/common/iconLink.png') center center no-repeat; background-size:100% auto; transform:translateY(-50%); }

.listBidding { padding:14px 16px 30px; }
.listBidding ul.list li { padding:14px 0 11px; border-bottom:1px solid #eaeef2; }
.listBidding ul.list li .name { font-size:14px; color:#585858; }
.listBidding ul.list li .cont { display:flex; justify-content:space-between; font-size:11px; color:#9ea0b4; }
.listBidding .paging { margin-top:22px; text-align:center; }
.listBidding .paging a { width:35px; height:35px; display:inline-block; background-size:100% auto; background-position:center center; background-repeat:no-repeat; vertical-align:middle; font-size:0; text-indent:-99999px; }
.listBidding .paging a.first { background-image:url('../images/common/iconPageFirst.png'); }
.listBidding .paging a.prev { background-image:url('../images/common/iconPagePrev.png'); }
.listBidding .paging a.next { background-image:url('../images/common/iconPageNext.png'); }
.listBidding .paging a.last { background-image:url('../images/common/iconPageLast.png'); }
.listBidding .paging .inputPage { width:82px; height:35px; display:inline-block; border:1px solid #eaeef2; text-align:center; line-height:33px; vertical-align:middle; }

.boxBasic { padding:15px 16px; background:#f2f6fa; border-radius:4px; font-size:12px; color:#404040; font-family:"SpoqaHanSansNeo"; }
.boxBasic ul { line-height:25px; }
.boxBasic ul li { font-family:"SpoqaHanSansNeo"; word-break: keep-all; }

.boxBasic ul.line { line-height:18px; }
.boxBasic ul.line li { padding-left:10px; position:relative; }
.boxBasic ul.line li:before { content:'-'; position:absolute; left:0; top:0; }
.boxBasic ul.line li+li { margin-top:15px; }

.boxBasic+.boxBasic { margin-top:13px; }
.boxBasic+.inputBasic { margin-top:15px; }

.boxBasic.sizeA { padding:24px 16px; }
.boxBasic.bgYellow { background:#ffee21; }

.boxBasic.type--key { padding:18px 66px 18px 16px; position:relative; background:#5922e6; }
.boxBasic.type--key .key { color:#fff; font-size:15px; word-break:break-all; }
.boxBasic.type--key .keyLink { width:35px; height:35px; position:absolute; right:16px; top:50%; background:url('../images/content/imgKeyLink.png') center center no-repeat; background-size:100% auto; transform:translateY(-50%); font-size:0; text-indent:-99999px; }


/* Footer */
#footer { position:relative; background:#4c5157; padding:26px 16px 36px; z-index:5; }
#footer .agreement { display:flex; margin-left:-26px; margin-bottom:60px; }
#footer .agreement a { height:30px; padding:0 26px; display:flex; align-items:center; position:relative; font-size:16px; color:rgba(255,255,255,.8); font-size:13px; }
#footer .agreement a+a:before { content:''; width:1px; height:12px; position:absolute; left:0; top:50%; margin-top:-6px; background:rgba(255,255,255,0.5); }
#footer h2 { width:87px; height:27px; margin-left:8px; margin-bottom:8px; display:block; background:url('../images/common/logo_f.png') center center no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }
#footer .copyright { font-size:12px; color:rgba(255,255,255,.5); line-height:1.5; }
#footer .copyright .row+.row { padding-top:24px; margin-top:15px; border-top:1px solid rgba(255,255,255,.1); }
#footer .copyright .row .title { position:relative; margin-bottom:10px; padding-left:8px; font-size:12px; font-weight:700; color:rgba(255, 255, 255, .7); }
#footer .copyright .row .title:before { content:''; width:2px; height:10px; position:absolute; left:0; top:50%; background:rgba(255, 255, 255, .5); transform:translateY(-50%); }
#footer .copyright .row p { padding:0 8px; }
#footer .copyright .row:nth-child(1) p { color:rgba(255,255,255,.5); }
#footer .copyright .row:nth-child(1) span { display:block; margin-top:6px; text-align:center; font-size:12px; color:rgba(255,255,255,.5); font-weight:700; }

#footer .sns { margin-left:-6px; margin-bottom:50px; overflow:hidden; }
#footer .sns a { width:40px; height:30px; float:left; background-repeat:no-repeat; background-position:center center; font-size:0; text-indent:-99999px; }
#footer .sns a+a { margin-left:10px; }
#footer .sns a.instagram { background-image:url('../images/common/iconSNS_instagram.png'); background-size:27px auto; }
#footer .sns a.kakao { background-image:url('../images/common/iconSNS_kakao.png'); background-size:27px auto; }
#footer .sns a.polymath { background-image:url('../images/common/iconSNS_polymath.png'); background-size:24px auto; }


/* Popup */
.popBasic { width:100%; height:100%; display:none; position:fixed; left:0; top:0; background:#fff; overflow:auto; z-index:99; }
.popBasic .inner { padding:0 16px; }
.popBasic h5.posTop { width:100%; height:80px; display:flex; align-items:center; justify-content:center; font-size:16px; font-weight:700; }
.popBasic .txtArea { padding:0 2px; }
.popBasic .txtArea h5 { margin-bottom:5px; font-size:23px; font-weight:600; color:#000; }
.popBasic .txtArea p { font-size:13px; letter-spacing:-.033em; color:#000; }
.popBasic .boxYear { height:30px; padding:0 26px; background:#f4f6f9; line-height:30px; font-size:13px; }
.popBasic .popLogout { padding-left:18px; position:absolute; left:20px; top:26px; background:url('../images/common/iconLogout.png') left center no-repeat; background-size:13px auto; font-size:13px; color:#000; }
.popBasic .popPrev { width:12px; height:19px; position:absolute; left:16px; top:28px; background:url('../images/common/popPrev.png') center center no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }
.popBasic .popClose { width:16px; height:16px; position:absolute; right:16px; top:28px; background:url('../images/common/popClose.png') center center no-repeat; background-size:100% auto; font-size:0; text-indent:-99999px; }
.popBasic .btn { margin-top:40px; }
.popBasic .btn a { display:block; background-size:auto 100%; background-repeat:no-repeat; background-position:center center; font-size:0; text-indent:-99999px; text-align:center; }
.popBasic .btn a+a { margin-top:4px; }
.popBasic .btn a.btnGoogle { height:70px; background-image:url('../images/common/btnLogin_google.png'); }
.popBasic .btn a.btnKlip { height:62px; background-image:url('../images/common/btnLogin_klip.png'); }
.popBasic .btn a.btnJoin { height:60px; margin-top:10px; font-size:14px; line-height:60px; color:#959595; text-indent:0; }

.popBasic.type--login .inner { padding:83px 34px; }

.popBasic.type--join .inner { padding:83px 16px 40px; }
.popBasic.type--join .inner+.inner { padding:26px 16px 50px; border-top:5px solid #f4f6f9; }
.popBasic.type--join .txtArea { margin-bottom:32px; padding:0 10px; }
.popBasic.type--join .tabArea { margin-top:54px; margin-bottom:24px; padding:0 10px; overflow:hidden; }
.popBasic.type--join .tabArea>a { height:34px; float:left; position:relative; padding:0 10px; line-height:30px; font-size:13px; color:#000; }
.popBasic.type--join .tabArea>a.active { border-bottom:2px solid #000; }
.popBasic.type--join .tabArea>a+a { margin-left:28px; }
.popBasic.type--join .tabArea>a+a:before { content:''; width:1px; height:14px; position:absolute; left:-14px; top:50%; background:rgba(0,0,0,0.1); transform:translateY(-50%); }

.popBasic.type--user .inner { padding-top:74px; }
.popBasic.type--user .tabArea { display:flex; margin-top:22px; position:relative; border-radius:8px; background:#f4f6f9; overflow:hidden; }
.popBasic.type--user .tabArea:before { content:''; width:50%; height:calc(100% - 2px); position:absolute; left:0; top:0; background:#fff; border:1px solid #f4f6f9; border-radius:8px; transition:all .3s; z-index:1; }
.popBasic.type--user .tabArea.pos1:before { left:calc(50% - 2px); }
.popBasic.type--user .tabArea a { height:40px; display:flex; align-items:center; justify-content:center; flex:1; position:relative; color:rgba(0,0,0,.4); font-size:13px; z-index:5; }
.popBasic.type--user .tabArea a.active { color:#000; font-weight:700; }
.popBasic.type--user .tabCont { padding-top:30px; padding-bottom:40px; }
.popBasic.type--user .tabCont .list { padding:0; }

.popBasic.type--qr .inner { padding-top:54px; }
.popBasic.type--qr h5 { font-size:21px; color:#000; text-align:center; }
.popBasic.type--qr .boxImgQR { width:164px; margin:25px auto 45px; }
.popBasic.type--qr .boxBasic a.btnKlip { height:38px; display:inline-block; margin-top:16px; padding:0 16px; border:1px solid #5922e6; border-radius:4px; font-size:12px; color:#000; line-height:36px; }

.popBasic.type--complete .inner { padding-top:94px; }
.popBasic.type--complete .txtArea { margin-bottom:35px; text-align:center; }

.popBasic.btn--fixed .inner { height:100%; display:flex; flex-direction:column; justify-content:space-between; }
.popBasic.btn--fixed .btn { padding:20px 0 55px; }
.popBasic.btn--fixed .btn a { height:62px; display:flex; align-items:center; justify-content: center; background:#000; font-size:14px; color:#fff; text-indent:0; }
.popBasic.btn--fixed .btn a.klip { background:#fde500; color:#000; }
.popBasic.btn--fixed .btn a.klip:before { content:''; width:42px; height:21px; margin-right:8px; background:url('../images/common/iconKlip.png') center center no-repeat; background-size:100% auto; }
.popBasic.btn--fixed .btn a.metamask { border:1px solid #e8e8e8; background:#fff; color:#000; }
.popBasic.btn--fixed .btn a.metamask:before { content:''; width:27px; height:25px; margin-right:8px; background:url('../images/common/iconMetamask.png') center center no-repeat; background-size:100% auto; }

.popBasic.type--notice .inner { height:100%; display:flex; align-items:center; justify-content:center; background:rgba(0,0,0,.7); }
.popBasic.type--notice .inner .boxNotice { max-width:328px; width:calc(100% - 32px); padding:36px 20px 20px; background:#fff; border-radius:14px; }
.popBasic.type--notice h5 { font-size:16px; font-weight:700; text-align:center; color:#000; }
.popBasic.type--notice ul { margin-top:20px; }
.popBasic.type--notice ul li { position:relative; padding-left:10px; font-size:13px; color:#000; }
.popBasic.type--notice ul li:before { content:''; width:3px; height:3px; position:absolute; left:0; top:7px; background:#000; }
.popBasic.type--notice ul li+li { margin-top:16px; }
.popBasic.type--notice ul li.imp { color:#f00; }
.popBasic.type--notice ul li.imp:before { background:#f00; }
.popBasic.type--notice .btn { margin-top:33px; display:flex; }
.popBasic.type--notice .btn a { height:40px; display:flex; flex:1; align-items:center; border:1px solid #62668c; background:#000; border-radius:6px; text-align:center; justify-content:center; color:#fff; font-size:13px; text-indent:0; }
.popBasic.type--notice .btn a+a { margin-top:0; margin-left:5px; }
.popBasic.type--notice .btn a.popClose { width:96px; flex:none; position:relative; right:0; top:0; background:#fff; color:#000; }

.popBasic.type--history .inner { padding:0; }
.popBasic.type--history .row+.row { margin-top:30px; }

.boxUserLogin { border-radius:8px; background:#fde500; overflow:hidden; }
.boxUserLogin .top { height:48px; padding:0 22px; display:flex; justify-content:space-between; align-items:center; background:#fff169; }
.boxUserLogin .top a.user { padding-right:18px; background:url('../images/common/iconUserLink.png') right center no-repeat; background-size:10px auto; font-size:16px; color:#000; }
.boxUserLogin .top a.history { padding:0 4px; font-size:11px; color:#000; }
.boxUserLogin .keyArea { min-height:108px; padding:0 16px; display:flex; flex-direction:column; align-items:center; justify-content:center; }
.boxUserLogin .keyArea a.wallet { font-size:13px; color:#000; text-decoration:underline; }
.boxUserLogin .keyArea dl { width:100%; height:70px; display:flex; justify-content:space-between; align-items:center; }
.boxUserLogin .keyArea dl+dl { border-top:1px solid rgba(0,0,0,0.04); }
.boxUserLogin .keyArea dt { padding-left:22px; background-size:16px auto; background-position:left center; background-repeat:no-repeat; font-size:16px; font-weight:500; }
.boxUserLogin .keyArea dt.type--klay { background-image:url('../images/common/iconCoin_klay.png'); }
.boxUserLogin .keyArea dt.type--eth { background-image:url('../images/common/iconCoin_eth.png'); }
.boxUserLogin .keyArea a.btnKey { position:relative; padding-left:18px; font-size:13px; color:#000; font-weight:300; }
.boxUserLogin .keyArea a.btnKey:after { content:''; width:10px; height:11px; position:absolute; left:0; top:50%; background:url('../images/common/iconUserKey.png') center center no-repeat; background-size:100% auto; transform:translateY(-50%); }

.boxWalletConnect .top { padding:0 10px; }
.boxWalletConnect .top h6 { font-size:16px; font-weight:700; }
.boxWalletConnect .top p { margin-top:3px; font-size:13px; }
.boxWalletConnect .wallet { width:284px; margin:23px auto 0; }
.boxWalletConnect .wallet .wallet_row { word-break:break-all; }
.boxWalletConnect .wallet .wallet_row .title { margin-bottom:20px; font-size:13px; font-weight:700; text-align:center; }
.boxWalletConnect .wallet .wallet_row p { display:block; margin-top:5px; color:#000; font-size:13px; opacity:.5; }
.boxWalletConnect .wallet .wallet_row+.wallet_row { margin-top:10px; }
.boxWalletConnect .check { padding:0 10px; margin-top:35px; position:relative; }
.boxWalletConnect .check input[type="checkbox"] { position:absolute; left:-99999px; top:0; opacity:0; }
.boxWalletConnect .check input[type="checkbox"]+label { display:block; padding-left:35px; position:relative; line-height:25px; font-size:13px; }
.boxWalletConnect .check input[type="checkbox"]+label:before { content:''; width:25px; height:25px; position:absolute; left:0; top:0; border:1px solid #585858; }
.boxWalletConnect .check input[type="checkbox"]:checked+label:before { background:url('../images/common/iconCheck.png') center center no-repeat #000; background-size:14px auto; }

.boxWalletConnect.is--info {  }
.boxWalletConnect.is--info .wallet { width:251px; }
.boxWalletConnect.is--info .wallet .wallet_row p { margin-top:15px; }
.boxWalletConnect.is--info .wallet .wallet_row+.wallet_row { margin-top:50px; }
.boxWalletConnect.is--info+.btnJoin { margin-top:70px; }

.listHistory {  }
.listHistory li { padding-bottom:8px; border-bottom:1px solid #eaeaea; }
.listHistory li a { display:block; padding:24px 26px 15px; position:relative; }
.listHistory li a:after { content:''; width:11px; height:7px; position:absolute; right:26px; top:34px; background:url('../images/common/iconArrowDown.png') center center no-repeat; background-size:100% auto; transition:all .3s; }
.listHistory li a .title { font-size:16px; }
.listHistory li a .date { margin-top:5px; color:rgba(0,0,0,.3); font-size:13px; font-family:'SpoqaHanSansNeo'; }
.listHistory li a .price { text-align:right; font-size:16px; font-weight:700; font-family:'SpoqaHanSansNeo'; }
.listHistory li .detail { padding:0 16px 16px; display:flex; }
.listHistory li .detail .thumb { width:51px; margin-right:13px; border-radius:10px; overflow:hidden; }
.listHistory li .detail .cont { flex:1; font-size:13px; line-height:26px; font-family:'SpoqaHanSansNeo'; }
.listHistory li .detail .cont span.imp { padding-left:14px; position:relative; display:block; margin-top:14px; color:#f00; font-family:'SpoqaHanSansNeo'; font-size:11px; }
.listHistory li .detail .cont span.imp:before { content:'※'; position:absolute; left:0; top:0; }
.listHistory li.active a:after { transform:rotate(180deg); }